@model IEnumerable<KutuphaneUygulaması.Models.BookListViewModel>
@{
    ViewData["Title"] = "Kitap Listesi";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="List" method="post" class="row g-3 mb-3">
    @Html.AntiForgeryToken()
    <div class="col-auto">
        <input type="text" name="searchTerm" class="form-control" placeholder="Kitap veya ISBN ara" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Ara</button>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-success">Yeni Kitap Ekle</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
    <th class="text-center">AuthorId</th>
    <th>Kitap İsmi</th>
    <th>Yazar</th>
    <th>Tür</th>
    <th>Yayın Tarihi</th>
    <th>ISBN</th>
    <th class="text-center">Kopya Sayısı</th>
    <th class="text-center">Düzenleme Seçenekleri</th> @* İşlemler sütunu için boş başlık *@
        </tr>
    </thead>
    <tbody>
    @foreach(var book in Model)
    {
        <tr>
            <td>@book.Id</td>               
            <td class="text-center">@book.AuthorId</td>            
            <td>@book.Title</td>
            <td>@book.AuthorFullName</td>
            <td>@book.Genre</td>
            <td>@book.PublishDate.ToShortDateString()</td>
            <td>@book.ISBN</td>
            <td class="text-center">@book.CopiesAvailable</td>
            <td class="text-center"> 
                <a  asp-action="Details" asp-route-id="@book.Id" class="btn btn-info btn-sm">Detay</a>
                <a asp-action="Edit"    asp-route-id="@book.Id" class="btn btn-warning btn-sm">Düzenle</a>
                <a asp-action="Delete"  asp-route-id="@book.Id" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>
