@model IEnumerable<KutuphaneUygulaması.Models.BookListViewModel>
@{
    ViewData["Title"] = "Kitap Listesi";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="List" method="post" class="row g-3 mb-3">
    @Html.AntiForgeryToken()
    <div class="col-auto">
        <input type="text" name="searchTerm" class="form-control" placeholder="Kitap veya ISBN ara" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Ara</button>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-warning">Yeni Kitap Ekle</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
    <th class="text-center">AuthorId</th>
    <th class="text-center">Kitap İsmi</th>
    <th class="text-center">Yazar</th>
    <th class="text-center">Tür</th>
    <th class="text-center">Yayın Tarihi</th>
    <th class="text-center">ISBN</th>
    <th class="text-center">Kopya Sayısı</th>
    <th class="text-center">Düzenleme Seçenekleri</th> @* İşlemler sütunu için boş başlık *@
        </tr>
    </thead>
    <tbody>
    @foreach(var book in Model)
    {
        <tr>
            <td class="text-center">@book.Id</td>               
            <td class="text-center">@book.AuthorId</td>            
            <td class="text-center">@book.Title</td>
            <td class="text-center">@book.AuthorFullName</td>
            <td class="text-center">@book.Genre</td>
            <td class="text-center">@book.PublishDate.ToShortDateString()</td>
            <td class="text-center">@book.ISBN</td>
            <td class="text-center">@book.CopiesAvailable</td>
            <td class="text-center"> 
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info btn-sm"><i class="bi bi-info-square"></i> Detay</a>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>
